.jumbotron {
  padding-top: 6rem;
  background-color: #ffe6ae;
}
#experience {
  background-color: #ffe6ae;
}
#achievement {
  background-color: #ffe6ae;
}
#contact {
  background-color: #ffe6ae;
}
section {
  padding-top: 6rem;
}

.carousel-contain {
  background-color: #ffe6ae;
  background-attachment: fixed;
}
